*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f6f3bc;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Main */

.navBar{
  height: 50px;
  background-color: #f6f3bcd8;
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar h3{
  margin-left: 50px;
  font-weight: 500;
}
.navigator, .navigator section{
  display: flex;
}
.navigator section{
  margin-right: 20px;
}
.navigator{
  margin-right: 50px;
}
.series{
  margin-right: 2.5px;
  color:#5f461a
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main:first-child{
  flex-flow: row wrap;
}
.home{
  width: 570px;
  display: flex;  
  align-items: flex-end;
}
.details{
  transform: translate(0, -50%);
}
.name{
  font-size: 40px;
  line-height: 40px;
}
.pictureFrame{
  height: 200px;
  width: 200px;
  border-bottom: 3px solid #5f461a;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
}
.pictureFrame:last-child{
  border: 3px solid #5f461a;
  border-bottom: none;
  z-index: 0;
}
.picture img{
  position: absolute;
  z-index: 1;
  transform: translate(0, 10%);
}
.picture{
  height: 300px;
  width: 200px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  transform: translate(0, 0);
  align-items: flex-end;
  border-radius: 300px;
  overflow: hidden;
}
.links{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.links a:first-child{
  margin-right: 50px;
}
a{
  color: black;
  text-decoration: none;
}
a::after{
  content: '';
  height: 2px;
  width: 0;
  background: #5f461a;
  display: block;
  transition: width .4s;
}
a:hover::after{
  width: 75%;
}
.links a::before{
  content: '>';
  font-family: 'consolas';
  color: #5f461a;
  display: block;
  position: absolute;
  transform: translate(550%, 1.5px);
  transition: margin .4s;
}
.links a:last-child::before{
  transform: translate(1200%, 1.5px);
}
.links a:hover::before{
  margin-left: 2.5px;
}
.main:nth-child(4), .main:nth-child(5), .main:nth-child(6){
  flex-flow: column nowrap;
  position: relative;
}
.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 100px;
  width: 100%;
}
.container section{
  box-sizing: border-box;
  min-height: 250px;
  min-width: 300px;
  margin-bottom: 20px;
  background: #e6e29e;
  border-radius: 5px;
  padding: 10px;
}
.container section h2{
  text-align: center;
}
h1{
  font-weight: 500;
}
h1[heading]::after{
  content: '';
  width: 50%;
  height: 3px;
  background: #5f461a;
  display: block;
  transform: translate(50%, 0);
  border-radius: 5px;
}
[heading]{
  font-family: consolas;
}
.content{
  padding: 15px;
  font-size: 17px;
  text-align: justify;
}
footer{
  height: 60px;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
}
footer .maker{
  display: flex;
}

/* Design */

.design{
  position: absolute;
  width: 100%;
}
.d1 .major-square{
  height: 655px;
  width: 655px;
  z-index: -4;
  border-radius: 25px;
  border: 3px solid #cecb8f;
}
.d1 .major-square::after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 25px;
  transform: translate(-50px, -50px);
  background: #a07121;
}
.d1 .major-square:first-child{
  transform: translate(50px, 50px) rotateZ(45deg);
}
.d1 .major-square:nth-child(2){
  transform: translate(75%, 200px) rotateZ(115deg);
}
.d1 .minor-square{
  height: 200px;
  width: 200px;
  z-index: -4;
  border-radius: 20px;
  border: 3px solid #cecb8f;
}
.d1 .minor-square::after{
  content: '';
  width: 100%;
  height: 100%;
  transform: translate(-25px, -25px);
  display: block;
  border-radius: 20px;
  border: 3px solid #a07121;
}
.d1 .minor-square:nth-child(3){
  transform: translate(100%, 100%) rotateZ(55deg);
}
.d1 .minor-square:nth-child(4){
  transform: translate(200%, 200%) rotateZ(125deg);
}
.d1 .minor-square:nth-child(5){
  transform: translate(50%, 400%) rotateZ(235deg);
}
.d1 .minor-square:nth-child(6){
  position: absolute;
  transform: rotateZ(300deg);
  right: 25%;
  margin-top: 300px;
}

/* Media queries */

@media screen and (max-width: 570px) {
  .home{
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
  }
  .details{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
  }
  .picture{
    margin-right: 50%;
    transform: translate(50%, 0);
  }
}
@media screen and (max-width: 700px){
  .navBar h3{
    display: none;
  }
  .navigator{
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  footer{
    flex-flow: column nowrap;
  }
  .navigator section{
    margin: 0;
  }
  .navigator section:first-child, .navigator section:nth-child(2), .navigator section:nth-child(3){
    margin-right: 20px;
  }
}
@media screen and (max-width: 400px){
  .container section{
    max-width: 90%;
    min-width: 90%;
  }
}
